<?xml version="1.0" encoding="utf-8"?>
<rewriteMaps>
  <rewriteMap name="FmRedirects">
    <add key="www.insulatedtransportproducts.com/404-Error-Page" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/404-Error-Page/status/404" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/a" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/Activity-Feed" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/Admin/SearchAdmin/tabid/84/%20/Default.aspx?www.itwshippers.com=www.itws.com" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/Admin/Search-Admin/www.itws.com" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/Admin/Search-Admin/www.itwshippers.com" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/chutes.html" value="http://www.insulatedtransportproducts.com/Products/Chutes-and-Adapters" />
    <add key="www.insulatedtransportproducts.com/contactus.aspx" value="http://www.insulatedtransportproducts.com/Contact" />
    <add key="www.insulatedtransportproducts.com/contactus/directionstoourplant.aspx" value="http://www.insulatedtransportproducts.com/Contact/Directions" />
    <add key="www.insulatedtransportproducts.com/contactus/territoryorganization.aspx" value="http://www.insulatedtransportproducts.com/Contact/Sales-Representatives" />
    <add key="www.insulatedtransportproducts.com/contactus/thankyou.aspx" value="http://www.insulatedtransportproducts.com/Contact" />
    <add key="www.insulatedtransportproducts.com/curtains.html" value="http://www.insulatedtransportproducts.com/Products/Industrial-Curtains" />
    <add key="www.insulatedtransportproducts.com/faqs.aspx" value="http://www.insulatedtransportproducts.com/FAQ" />
    <add key="www.insulatedtransportproducts.com/faqs/chuteandadapter.aspx" value="http://www.insulatedtransportproducts.com/FAQ" />
    <add key="www.insulatedtransportproducts.com/faqs/clearstripcurtains.aspx" value="http://www.insulatedtransportproducts.com/FAQ" />
    <add key="www.insulatedtransportproducts.com/FAQs/Curtains/ClearStripCurtains.aspx" value="http://www.insulatedtransportproducts.com/FAQ" />
    <add key="www.insulatedtransportproducts.com/FAQs/InsulatedBulkheadFAQs/OnePieceSkinnyBun.aspx" value="http://www.insulatedtransportproducts.com/Products/Insulated-Bulkheads/Custom-Fit-Insulated-Bulkheads/Skinny-Bun-Custom-Bulkhead" />
    <add key="www.insulatedtransportproducts.com/faqs/insulatedcurtains.aspx" value="http://www.insulatedtransportproducts.com/FAQ" />
    <add key="www.insulatedtransportproducts.com/faqs/offcentersplit1323.aspx" value="http://www.insulatedtransportproducts.com/FAQ" />
    <add key="www.insulatedtransportproducts.com/faqs/onepieceskinnybun.aspx" value="http://www.insulatedtransportproducts.com/FAQ" />
    <add key="www.insulatedtransportproducts.com/faqs/palletcoversandblankets.aspx" value="http://www.insulatedtransportproducts.com/FAQ" />
    <add key="www.insulatedtransportproducts.com/faqs/returnairbulkhead.aspx" value="http://www.insulatedtransportproducts.com/FAQ" />
    <add key="www.insulatedtransportproducts.com/faqs/skinnybun.aspx" value="http://www.insulatedtransportproducts.com/FAQ" />
    <add key="www.insulatedtransportproducts.com/faqs/universalbulkhead.aspx" value="http://www.insulatedtransportproducts.com/FAQ" />
    <add key="www.insulatedtransportproducts.com/faqs/universalcurtain.aspx" value="http://www.insulatedtransportproducts.com/FAQ" />
    <add key="www.insulatedtransportproducts.com/innovations.aspx" value="http://www.insulatedtransportproducts.com/About-Us/Successful-Solutions" />
    <add key="www.insulatedtransportproducts.com/Innovations3.aspx" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/insulatedtransportproducts/2014+Redesign+-+Videos/Itp+Tube+Chute+Install.mp4" value="http://www.insulatedtransportproducts.com/Videos-PDFs" />
    <add key="www.insulatedtransportproducts.com/itwrecycles.aspx" value="http://www.insulatedtransportproducts.com/Products/Recycled-Products" />
    <add key="www.insulatedtransportproducts.com/LinkClick.aspx?fileticket=tEMJquBGaws=&amp;tabid=115" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/LinkClick.aspx?fileticket=xl9soj0/Yyc=&amp;" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/links.aspx" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/Portals/0/documents/ITP Flex Fit Insulated Bulkhead.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/Flex Fit brochure proof UPDATED 21315.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/0/Documents/ITW_UB1.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/ITP%20UB1%20brochure.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/0/Documents/ITWCHUTESANDADAPTRS2011.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/ITP%20Chutes%20and%20Adapters%20Brochure.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/0/documents/Procurement Purchase Order Terms and Conditions.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/ITP%20Terms%20and%20Conditions%20of%20Sale.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/0/Documents/Sizing_Guide_Bifold.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/ITP%20Bulkhead%20Sizing%20Guide-BIFOLD.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/0/Documents/Sizing_Guide_Bulkhead.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/ITP%20Bulkhead%20Sizing%20Guide-%20ONE%20PIECE%20BULKHEAD.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/0/Documents/UniMax-Install-Instructions.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/UNIMAX%20Installation%20Instructions%202011.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/brochure-curtains.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/Insulated%20Curtains.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/brochure-ITWUniMax.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/ITP%20Chutes%20and%20Adapters%20Brochure.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/brochure-UniMaxAdapter.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/ITWCHUTESANDADAPTRS2011.pdf" />
    <add key="www.insulatedtransportproducts.com/portals/1/documents/brochure-universalbulkhead.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/ITW_UB1.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/DuraFlex.pdf" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/Flex Fit Insulated Bulkhead.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/ITP%20Flex%20Fit%20Insulated%20Bulkhead.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/Insulate Pallet Covers and Blankets.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/ITP%20Insulated%20Pallet%20Covers%20and%20Blankets.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/Insulated Curtains.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/ITP%20Universal%20Curtains%20-%20first%20page.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/ITP Terms and Conditions of Sale.pdf" value="http://www.insulatedtransportproducts.com/LinkClick.aspx?fileticket=33oI3mgbCuo%3d&amp;portalid=0" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/ITW DuroMax Installation Instructions-QR Top Only.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/DuroMax Installation Instructions-QR Top Only.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/ITW Insulated Pallet Covers and Blankets from pdf.docx" value="http://www.insulatedtransportproducts.com/Portals/0/documents/ITP%20Insulated%20Pallet%20Covers%20and%20Blankets.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/ITW_UB1.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/ITW_UB1.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/ITWCHUTESANDADAPTRS2011.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/ITWCHUTESANDADAPTRS2011.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/ITWCURTAINS2011.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/Insulated%20Curtains.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/ITWDuroMaxInstall.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/ITW%20DuroMax%20Installation%20Instructions-QR%20Top%20Only.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/ITWDuroMaxInstallationInstructions-TopBottomQuickRelease.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/ITWDuroMaxInstallationInstructions-TopBottomQuickRelease.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/documents/ITW-Insulated-Bulkhead-Sizing-Guide.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/Sizing_Guide_Bulkhead.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/ITWRETURNAIRBULKHEDS2011.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/ITWRETURNAIRBULKHEDS2011.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/ITWSKINNYBUN2011.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/Skinny%20Bun%20brochure%20UPDATED%2012314.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/ITWSkinnyBunLiteXP2011.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/Skinny%20Bun%20Lite%20brochure%20UPDATED%2012314.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/ITWSkinnyBunLiteXPFLEXFitBulkhead2011.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/ITWSkinnyBunLiteXPFLEXFitBulkhead2011.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/repMap.pdf" value="http://www.insulatedtransportproducts.com/Contact/Sales-Representatives" />
    <add key="www.insulatedtransportproducts.com/portals/1/documents/sizing_guide_bifold.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/Sizing_Guide_Bifold.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/Sizing_Guide_Bulkhead.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/Sizing_Guide_Bulkhead.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/skinnyBunLit-brochure.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/Skinny%20Bun%20Lite%20brochure%20UPDATED%2012314.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/skinnyBunLite-SizingGuide.pdf" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/Tube Chute.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/documents/Tube%20Chute.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/UB1-Installation-Instructions.pdf" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Documents/UniMax-Install-Instructions.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/UniMax-Install-Instructions.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/Flash/SkinUnderPlayStopSeekMuteVol.swf" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/portals/1/Flash/universalBulkhead.swf" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/Portals/1/ITW DuroMax Installation Instructions Including Quick Release Bottom.pdf" value="http://www.insulatedtransportproducts.com/Portals/0/Documents/ITWDuroMaxInstallationInstructions-TopBottomQuickRelease.pdf" />
    <add key="www.insulatedtransportproducts.com/Portals/1/ITW-Two-Finger-Chute-Installation-Instructions.pdf" value="http://www.insulatedtransportproducts.com/insulatedtransportproducts/2014+Redesign+-+Videos/Itp+Tube+Chute+Install.mp4" />
    <add key="www.insulatedtransportproducts.com/portals/1/rotator/config.xml?datapath=/portals/1/rotator/data.xml" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/portals/1/rotator/data.xml" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/portals/1/rotator/rotator.swf" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/Products/Bulkhead-Accessories/twowayhinge" value="http://www.insulatedtransportproducts.com/Products/Bulkhead-Accessories/Two-Way-Hinge" />
    <add key="www.insulatedtransportproducts.com/Products/HeavyDutyHandTrucksandRamps.aspx" value="http://www.insulatedtransportproducts.com/Products/Bulkhead-Accessories" />
    <add key="www.insulatedtransportproducts.com/products/industrialcurtains.aspx" value="http://www.insulatedtransportproducts.com/Products/Industrial-Curtains" />
    <add key="www.insulatedtransportproducts.com/Products/IndustrialCurtains/Insulated.aspx" value="http://www.insulatedtransportproducts.com/Products/Industrial-Curtains" />
    <add key="www.insulatedtransportproducts.com/products/industrialcurtains/strip.aspx" value="http://www.insulatedtransportproducts.com/Products/Universal-Curtains/Strip" />
    <add key="www.insulatedtransportproducts.com/products/industrialcurtains/universalvinyl.aspx" value="http://www.insulatedtransportproducts.com/Products/Universal-Curtains/Universal-Vinyl" />
    <add key="www.insulatedtransportproducts.com/Products/Insulated" value="http://www.insulatedtransportproducts.com/Products/Insulated-Bulkheads" />
    <add key="www.insulatedtransportproducts.com/Products/InsulatedBulkheads2/CustomInsulatedBulkheads/SkinnyBun2.aspx" value="http://www.insulatedtransportproducts.com/Products/Insulated-Bulkheads/Custom-Fit-Insulated-Bulkheads/Skinny-Bun-Custom-Bulkhead" />
    <add key="www.insulatedtransportproducts.com/Products/InsulatedBulkheads2/FlexFitInsulatedBulkheads/DuraflexFlexFitBulkhead.aspx" value="http://www.insulatedtransportproducts.com/Products/Insulated-Bulkheads/Flex-Fit-Insulated-Bulkheads/Duraflex-Flex-Fit-Bulkhead" />
    <add key="www.insulatedtransportproducts.com/Products/InsulatedBulkheads2/FlexFitInsulatedBulkheads/SkinnyBunLiteXPFlexFit2.aspx" value="http://www.insulatedtransportproducts.com/Products/Insulated-Bulkheads/Flex-Fit-Insulated-Bulkheads/Skinny-Bun-Lite-XP-Flex-Fit-Bulkhead" />
    <add key="www.insulatedtransportproducts.com/products/insulatedbulkheadsold/skinnybunlitexpflexfit.aspx" value="http://www.insulatedtransportproducts.com/Products/Insulated-Bulkheads/Flex-Fit-Insulated-Bulkheads/Skinny-Bun-Lite-XP-Flex-Fit-Bulkhead" />
    <add key="www.insulatedtransportproducts.com/products/insulatedbulkheadsold/universalbulkhead/universalbulkheadvideo.aspx" value="http://www.insulatedtransportproducts.com/Videos-PDFs" />
    <add key="www.insulatedtransportproducts.com/Products/Insulated-Pallet" value="http://www.insulatedtransportproducts.com/Products/Pallet-Covers-and-Blankets" />
    <add key="www.insulatedtransportproducts.com/products/palletcoversandblankets.aspx" value="http://www.insulatedtransportproducts.com/Products/Pallet-Covers-and-Blankets" />
    <add key="www.insulatedtransportproducts.com/products/repairsandwarranties.aspx" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/products/tetheredbulkheadsystem.aspx" value="http://www.insulatedtransportproducts.com/Products/-Bulkhead-System/emodule/559/eitem/31" />
    <add key="www.insulatedtransportproducts.com/promotions.aspx" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/Promotions/InsulatedCurtainsPromotion.aspx" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/Promotions/tabid/83/Default.aspx" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/userprofile.aspx?returnurl=%2Fcontactus%2Fdirectionstoourplant.aspx" value="http://www.insulatedtransportproducts.com/Contact/Directions" />
    <add key="www.insulatedtransportproducts.com/userprofile.aspx?returnurl=%2Fhome%2Fitwrecycles.aspx" value="http://www.insulatedtransportproducts.com/Products/Recycled-Products" />
    <add key="www.insulatedtransportproducts.com/userprofile.aspx?returnurl=%2Fproducts%2Fchutesandadapters%2Fpopupadapterchute%2Fvideosandpdfspopupadapter.aspx" value="http://www.insulatedtransportproducts.com/Videos-PDFs" />
    <add key="www.insulatedtransportproducts.com/Videos-PDFs/emodule/551/eitem/12" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/web/20140212213644/https:/www.leadformix.com" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/www.itws.com" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/www.itws.com/" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/www.itwshippers.com" value="http://www.insulatedtransportproducts.com/" />
    <add key="www.insulatedtransportproducts.com/www.itwshippers.com/" value="http://www.insulatedtransportproducts.com/" />
  </rewriteMap>
</rewriteMaps>