<?xml version="1.0" encoding="utf-8"?>
<rules>
	<clear />
<rule name="Block Bad Bots" stopProcessing="true">
		<match url=".*" />
		<conditions trackAllCaptures="false">
			<add input="{HTTP_USER_AGENT}" pattern="(.*)(MJ12bot|YandexBot|sogou|seznamBot|AspiegelBot|PetalBot|DotBot)(.*)" ignoreCase="true" />
		</conditions>
		<action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this page." />
	</rule>
	<rule name="FmRewrites" stopProcessing="true">
		<match url=".*" />
		<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{FmRedirects:{HTTP_HOST}{REQUEST_URI}}" pattern="(.+)" ignoreCase="true" />
		</conditions>
		<action type="Redirect" url="{C:1}" appendQueryString="false" />
	</rule>
	<rule name="Alias Redirects" stopProcessing="true">
		<match url=".*" />
		<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}" pattern="^insulatedtransportproducts.com(.*)" />
		</conditions>
		<action type="Redirect" url="https://www.insulatedtransportproducts.com/{R:0}" appendQueryString="false" redirectType="Permanent" />
	</rule>
	<rule name="Redirect to https" stopProcessing="true">
		<match url="(.*)"/>
			<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
				<add input="{HTTPS}" pattern="off" ignoreCase="true"/>
				<add input="{REQUEST_URI}" pattern="^/.well-known/(.*)" negate="true" ignoreCase="true" />
		</conditions>
		<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false"/>
	</rule>
	<rule name="Cachebusting">
		<match url="^(.+)\.\d+(\.(js|css|png|jpg|gif)$)" />
		<conditions>
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
		</conditions>
		<action type="Rewrite" url="{R:1}{R:2}" />
	</rule>
</rules>
