<?xml version="1.0" encoding="utf-8"?>
<AnalyticsEngineConfig>
  <Engines>
    <AnalyticsEngine>
      <EngineType>DotNetNuke.Services.Analytics.GoogleAnalyticsEngine, DotNetNuke</EngineType>
      <ElementId>Head</ElementId>
      <InjectTop>False</InjectTop>
      <ScriptTemplate><![CDATA[]]></ScriptTemplate>
    </AnalyticsEngine>
    <AnalyticsEngine name="FmGoogleTagManagerHead">
      <EngineType>ForemostMedia.Modules.SeoHelper.Components.Services.Analytics.GoogleTagManagerEngine, ForemostMedia.Modules.SeoHelper</EngineType>
      <ElementId>Head</ElementId>
      <InjectTop>True</InjectTop>
      <ScriptTemplate><![CDATA[<!-- Google Tag Manager -->
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','[TRACKINGID]');</script>
                <!-- End Google Tag Manager -->]]></ScriptTemplate>
    </AnalyticsEngine>
    <AnalyticsEngine name="FmGoogleTagManagerBody">
      <EngineType>ForemostMedia.Modules.SeoHelper.Components.Services.Analytics.GoogleTagManagerBodyEngine, ForemostMedia.Modules.SeoHelper</EngineType>
      <ElementId>Body</ElementId>
      <InjectTop>True</InjectTop>
      <ScriptTemplate><![CDATA[<!-- Google Tag Manager (noscript) -->
                <noscript><iframe src='https://www.googletagmanager.com/ns.html?id=[TRACKINGID]'
                height='0' width='0' style='display:none;visibility:hidden'></iframe></noscript>
                <!-- End Google Tag Manager(noscript) -->]]></ScriptTemplate>
    </AnalyticsEngine>
    <AnalyticsEngine name="FmLeadformix">
      <EngineType>ForemostMedia.Modules.SeoHelper.Components.Services.Analytics.LeadFormixEngine, ForemostMedia.Modules.SeoHelper</EngineType>
      <ElementId>Head</ElementId>
      <InjectTop>False</InjectTop>
      <ScriptTemplate><![CDATA[<!-- LeadFormix -->
<a href='https://www.leadformix.com' title='Marketing Automation' onclick='window.open(this.href);return(false);'>
<script type='text/javascript'>
var pkBaseURL = (('https:' == document.location.protocol) ? 'https://vlog.leadformix.com/' : 'https://vlog.leadformix.com/');
<!--
bf_action_name = '';
bf_idsite = [TRACKINGID];
bf_url = pkBaseURL+'bf/bf.php';
(function() {
var lfh = document.createElement('script'); lfh.type = 'text/javascript'; lfh.async = true;
lfh.src = pkBaseURL+'bf/lfx.js';
var s = document.getElementsByTagName('head')[0]; s.appendChild(lfh);
})();
//-->
</script>
<noscript><p>Marketing Automation Platform <img src='https://vlog.leadformix.com/bf/bf.php' style='border:0' alt='Marketing Automation Tool'/></p>
</noscript>
</a>
<!-- /LeadFormix -->]]></ScriptTemplate>
    </AnalyticsEngine>
    <AnalyticsEngine name="FmActOn">
      <EngineType>ForemostMedia.Modules.SeoHelper.Components.Services.Analytics.ActOnEngine, ForemostMedia.Modules.SeoHelper</EngineType>
      <ElementId>Head</ElementId>
      <InjectTop>False</InjectTop>
      <ScriptTemplate><![CDATA[<script>(function(w,a,b,d,s){w[a]=w[a]||{};w[a][b]=w[a][b]||{q:[],track:function(r,e,t){this.q.push({r:r,e:e,t:t||+new Date});}};var e=d.createElement(s);var f=d.getElementsByTagName(s)[0];e.async=1;e.src='//[HOST]/cdnr/[CDNRID]/acton/bn/tracker/[TRACKINGID]';f.parentNode.insertBefore(e,f);})(window,'ActOn','Beacon',document,'script');ActOn.Beacon.track();</script>]]></ScriptTemplate>
    </AnalyticsEngine>
    <AnalyticsEngine name="FmGoogleAnalyticsMultiDomain">
      <EngineType>ForemostMedia.Modules.SeoHelper.Components.Services.Analytics.GoogleAnalyticsMultiDomainEngine, ForemostMedia.Modules.SeoHelper</EngineType>
      <ElementId>Head</ElementId>
      <InjectTop>False</InjectTop>
      <ScriptTemplate><![CDATA[<script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '[TRACKINGID]', 'auto', { 'allowLinker': true })
        ga('require', 'linker');
        ga('linker:autoLink', [[MULTIDOMAINS], false, true);
        ga('send', 'pageview');
</script>]]></ScriptTemplate>
    </AnalyticsEngine>
    <AnalyticsEngine name="FmWebTrax">
      <EngineType>ForemostMedia.Modules.SeoHelper.Components.Services.Analytics.WebTraxEngine, ForemostMedia.Modules.SeoHelper</EngineType>
      <ElementId>Head</ElementId>
      <InjectTop>False</InjectTop>
      <ScriptTemplate><![CDATA[<script type='text/javascript'>
document.write(unescape('%3Cscript src='' + document.location.protocol + '//www.webtraxs.com/trxscript.php' type='text/javascript'%3E%3C/script%3E'));
</script>
<script type='text/javascript'>
_trxid = '[TRACKINGID]';
webTraxs();
</script>
<noscript><img src='http://www.webtraxs.com/webtraxs.php?id=[TRACKINGID]&st=img' alt=''></noscript>]]></ScriptTemplate>
    </AnalyticsEngine>
  </Engines>
</AnalyticsEngineConfig>