body.smbLightFixed {
  overflow: hidden;
}

.smbLightOverlayWrapper.modern {
  display: block;
  position: fixed;
  max-height: none;
  max-width: none;
  height: auto;
  width: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: 99999;
}
.smbLightOverlayWrapper.modern > div {
  display: block;
  position: absolute;
  max-height: none;
  max-width: none;
  height: auto;
  width: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  opacity: 1;
}
.smbLightOverlayWrapper.modern .socialButtonsWrapper {
  position: absolute;
  display: none;
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 10px 0 3px 10px;
  border: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px 0 0 0;
}
.smbLightOverlayWrapper.modern .socialButtonsWrapper > div {
  display: block;
  margin: 0 0 1px;
  padding: 0;
  border: 0;
  height: 25px;
  width: 100px;
}
.smbLightOverlayWrapper.modern .socialButtonsWrapper.show {
  display: block;
}
.smbLightOverlayWrapper.modern .mainWrapper {
  display: block;
  background: #2f2f2f;
  border: 1px solid white;
  border-radius: 1px;
  margin: 52px;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.7);
  height: 50px;
  width: 50px;
}
.smbLightOverlayWrapper.modern .mainWrapper .itemContentWrapper {
  display: block;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}
.smbLightOverlayWrapper.modern .mainWrapper .itemContentWrapper > div {
  display: block;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  bottom: auto;
  right: auto;
}
.smbLightOverlayWrapper.modern .mainWrapper .itemContentWrapper > div.activeElement {
  left: 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .itemContentWrapper > div.audioVideo iframe {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .itemContentWrapper > div.images img,
.smbLightOverlayWrapper.modern .mainWrapper .itemContentWrapper > div.images p {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  height: auto;
  max-height: none;
  width: auto;
  max-width: none;
  position: absolute;
  top: 0;
  left: 100%;
  right: auto;
  bottom: auto;
}
.smbLightOverlayWrapper.modern .mainWrapper .itemContentWrapper > div.images img.activeElement {
  left: 0;
  height: 100%;
  width: 100%;
}
.smbLightOverlayWrapper.modern .mainWrapper .itemContentWrapper > div.images p {
  text-align: center;
  font: 16px/20px Arial, sans-serif;
  top: 50%;
  margin: -10px 0 0;
  padding: 0 30px;
  height: auto;
  color: white;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.smbLightOverlayWrapper.modern .mainWrapper .itemContentWrapper > div.images.imageNotLoaded > p {
  left: 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .loadingOverlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(images/loader.gif) 500% 0 #2f2f2f no-repeat;
  z-index: 1;
}
.smbLightOverlayWrapper.modern .mainWrapper .loadingOverlay.inProgress {
  background-position: center center;
}
.smbLightOverlayWrapper.modern .mainWrapper .itemTitle {
  display: block;
  font: 17px/0.8 Tahoma, Arial, serif;
  margin: 0 70px 10px 0;
  padding: 0;
  border: 0;
  background: none;
  color: white;
  text-shadow: 1px 1px 0 #333333;
  position: absolute;
  top: auto;
  bottom: 100%;
  left: 0;
  right: 0;
  opacity: 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation,
.smbLightOverlayWrapper.modern .mainWrapper .close,
.smbLightOverlayWrapper.modern .mainWrapper .socialButtonsTrigger {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: absolute;
  bottom: auto;
  left: auto;
  right: auto;
  cursor: pointer;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation {
  top: 50%;
  width: 34px;
  height: 70px;
  background: white;
  margin-top: -35px;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation > span {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  width: 12px;
  height: 20px;
  background: url(images/icons.png) no-repeat -28px 0;
  margin: -10px 0 0 -6px;
  padding: 0;
  border: 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation.prev {
  right: 100%;
  border-radius: 4px 0 0 4px;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation.prev > span {
  background-position: -28px 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation.next {
  left: 100%;
  border-radius: 0 4px 4px 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation.next > span {
  background-position: -28px -20px;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation:hover.prev > span {
  background-position: -40px 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation:hover.next > span {
  background-position: -40px -20px;
}
.smbLightOverlayWrapper.modern .mainWrapper .close {
  top: auto;
  bottom: 100%;
  right: 20px;
  width: 42px;
  height: 31px;
  background: white;
  border-radius: 4px 4px 0 0;
  margin-bottom: 1px;
}
.smbLightOverlayWrapper.modern .mainWrapper .close > span {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  width: 14px;
  height: 15px;
  background: url(images/icons.png) no-repeat 0 0;
  margin: -7px 0 0 -7px;
  padding: 0;
  border: 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .close:hover {
  background: #ce0000;
}
.smbLightOverlayWrapper.modern .mainWrapper .close:hover > span {
  background-position: -14px 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .socialButtonsTrigger {
  top: 100%;
  width: 40px;
  height: 31px;
  right: 20px;
  background: white;
  border-radius: 0 0 4px 4px;
}
.smbLightOverlayWrapper.modern .mainWrapper .socialButtonsTrigger > span {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  width: 13px;
  height: 15px;
  background: url(images/icons.png) no-repeat 0 -15px;
  margin: -7px 0 0 -8px;
  padding: 0;
  border: 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .socialButtonsTrigger:hover > span {
  background-position: -13px -15px;
}
.smbLightOverlayWrapper.modern .mainWrapper.audioItem .navigation {
  height: 30px;
  margin-top: -15px;
}
.smbLightOverlayWrapper.modern .mobileControls,
.smbLightOverlayWrapper.modern .mobileControls > div {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: 40px;
  background: black;
}
.smbLightOverlayWrapper.modern .mobileControls {
  bottom: 0;
}
.smbLightOverlayWrapper.modern .mobileControls > div > span:hover {
  background: #333333;
}
.smbLightOverlayWrapper.modern .mobileControls > div .socialButtonsTrigger {
  display: block;
  margin: 0 0 0 -120px;
  padding: 0;
  border: 0;
  position: absolute;
  bottom: auto;
  left: 50%;
  right: auto;
  top: auto;
  cursor: pointer;
  width: 30px;
  height: 40px;
  background: none;
  border-radius: 0;
}
.smbLightOverlayWrapper.modern .mobileControls > div .socialButtonsTrigger > span {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  bottom: auto;
  left: 5px;
  right: auto;
  top: 8px;
  cursor: pointer;
  width: 19px;
  height: 24px;
  background: url(images/mobileIcons.png) no-repeat 0 -23px;
  border-radius: 0;
}
.smbLightOverlayWrapper.modern .mobileControls > div .socialButtonsTrigger.show {
  background-position: -64px -38px;
}
.smbLightOverlayWrapper.modern .mobileControls > div .socialButtonsWrapper {
  padding: 8px 8px 0;
  border-radius: 0;
  right: auto;
  left: 50%;
  margin: 0 0 0 -160px;
  bottom: 40px;
}
.smbLightOverlayWrapper.modern .mobileControls > div .fullscreenTrigger {
  display: block;
  margin: 0 0 0 -20px;
  padding: 0;
  border: 0;
  position: absolute;
  bottom: auto;
  left: 50%;
  right: auto;
  top: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: none;
  border-radius: 0;
}
.smbLightOverlayWrapper.modern .mobileControls > div .fullscreenTrigger > span {
  display: block;
  width: 38px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 8px;
  bottom: auto;
  left: 1px;
  right: auto;
  background: url(images/mobileIcons.png) no-repeat -20px -23px;
}
.smbLightOverlayWrapper.modern .mobileControls > div .fullscreenTrigger.active > span {
  background-position: -59px -23px;
}
.smbLightOverlayWrapper.modern .mobileControls > div .navigation {
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
  position: absolute;
  bottom: auto;
  left: 50%;
  right: auto;
  top: 0;
  cursor: pointer;
  width: 32px;
  height: 40px;
  background: none;
  border-radius: 0;
}
.smbLightOverlayWrapper.modern .mobileControls > div .navigation > span {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  bottom: auto;
  left: 10px;
  right: auto;
  top: 9px;
  width: 12px;
  height: 22px;
  background: url(images/mobileIcons.png) no-repeat;
}
.smbLightOverlayWrapper.modern .mobileControls > div .navigation.prev {
  margin: 0 0 0 -62px;
}
.smbLightOverlayWrapper.modern .mobileControls > div .navigation.prev > span {
  background-position: 0 0;
}
.smbLightOverlayWrapper.modern .mobileControls > div .navigation.next {
  margin: 0 0 0 30px;
}
.smbLightOverlayWrapper.modern .mobileControls > div .navigation.next > span {
  background-position: -13px 0;
}
.smbLightOverlayWrapper.modern .mobileControls > div .close {
  display: block;
  padding: 0;
  border: 0;
  margin: 0 0 0 80px;
  position: absolute;
  bottom: auto;
  left: 50%;
  right: auto;
  top: 0;
  cursor: pointer;
  width: 32px;
  height: 40px;
  background: none;
  border-radius: 0;
}
.smbLightOverlayWrapper.modern .mobileControls > div .close > span {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  bottom: auto;
  left: 5px;
  right: auto;
  top: 9px;
  width: 22px;
  height: 22px;
  background: url(images/mobileIcons.png) no-repeat -26px 0;
}
.smbLightOverlayWrapper.modern.onMobile {
  top: auto;
  height: 100%;
}
.smbLightOverlayWrapper.modern.onMobile > div {
  margin: 0 0 40px;
}
.smbLightOverlayWrapper.modern.onMobile > div.mobileControls {
  margin: 0;
}
.smbLightOverlayWrapper.modern.onMobile .mainWrapper {
  border: 0;
  margin: 0;
}
.smbLightOverlayWrapper.modern.onMobile .mainWrapper .itemTitle {
  font-size: 16px;
  margin: 0;
}
.smbLightOverlayWrapper.modern.onMobile .mainWrapper.imageItem .itemTitle {
  bottom: auto;
  top: 0;
  padding: 8px 10px;
  background: rgba(0, 0, 0, 0.7);
}
.smbLightOverlayWrapper.modern.onMobile .mainWrapper.videoItem .itemTitle {
  display: none !important;
}
.smbLightOverlayWrapper.modern.onMobile .mainWrapper.audioItem .itemTitle {
  margin: 0 5px 5px;
}
.smbLightOverlayWrapper.modern.onMobile.notFullscreenable .mobileControls .fullscreenTrigger {
  display: none;
}
.smbLightOverlayWrapper.modern.initializing .mainWrapper .navigation,
.smbLightOverlayWrapper.modern.initializing .mainWrapper .close,
.smbLightOverlayWrapper.modern.initializing .mainWrapper .socialButtonsTrigger {
  display: none;
}
