/* Layout helpers
----------------------------------*/
.livetabsmintchoc .ui-helper-hidden { display: none; }
.livetabsmintchoc .ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.livetabsmintchoc .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.livetabsmintchoc .ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.livetabsmintchoc .ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.livetabsmintchoc .ui-helper-clearfix { display:block; }
/* end clearfix */
.livetabsmintchoc .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
/* Interaction Cues
----------------------------------*/
.livetabsmintchoc .ui-state-disabled { cursor: default !important; }
/* states and images */
.livetabsmintchoc .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
/* Overlays */
.livetabsmintchoc .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/* Component containers
----------------------------------*/
.livetabsmintchoc .ui-widget { font-family: Segoe UI, Helvetica, Arial, sans-serif; font-size: 1.1em; }
.livetabsmintchoc .ui-widget input, .livetabsmintchoc .ui-widget select, .livetabsmintchoc .ui-widget textarea, .livetabsmintchoc .ui-widget button { font-family: Segoe UI, Helvetica, Arial, sans-serif; font-size: 1em; }
.livetabsmintchoc .ui-widget-content { border: 1px solid #9c947c; background: #201913 url(images/ui-bg_inset-soft_10_201913_1x100.png) 50% bottom repeat-x; color: #ffffff; }
.livetabsmintchoc .ui-widget-content a { }
.livetabsmintchoc .ui-widget-header { border: 1px solid #695649; background: #453326 url(images/ui-bg_gloss-wave_25_453326_500x100.png) 50% 50% repeat-x; color: #e3ddc9; font-weight: bold; }
.livetabsmintchoc .ui-widget-header a { color: #e3ddc9; }
/* Interaction states
----------------------------------*/
.livetabsmintchoc .ui-state-default, .livetabsmintchoc .ui-widget-content .ui-state-default { border: 1px solid #695444; background: #1c160d url(images/ui-bg_gloss-wave_20_1c160d_500x100.png) 50% 50% repeat-x; font-weight: bold; color: #9bcc60; outline: none; }
.livetabsmintchoc .ui-state-default a, .livetabsmintchoc .ui-state-default a:link, .livetabsmintchoc .ui-state-default a:visited { color: #9bcc60; text-decoration: none; outline: none; }
.livetabsmintchoc .ui-state-hover, .livetabsmintchoc .ui-widget-content .ui-state-hover, .livetabsmintchoc .ui-state-focus, .livetabsmintchoc .ui-widget-content .ui-state-focus { border: 1px solid #9c947c; background: #44372c url(images/ui-bg_gloss-wave_30_44372c_500x100.png) 50% 50% repeat-x; font-weight: bold; color: #baec7e; outline: none; }
.livetabsmintchoc .ui-state-hover a, .livetabsmintchoc .ui-state-hover a:hover { color: #baec7e; text-decoration: none; outline: none; }
.livetabsmintchoc .ui-state-active, .livetabsmintchoc .ui-widget-content .ui-state-active { border: 1px solid #9c947c; background: #201913 url(images/ui-bg_highlight-soft_20_201913_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #e3ddc9; outline: none; }
.livetabsmintchoc .ui-state-active a, .livetabsmintchoc .ui-state-active a:link, .livetabsmintchoc .ui-state-active a:visited { color: #e3ddc9; outline: none; text-decoration: none; }
/* Interaction Cues
----------------------------------*/
.livetabsmintchoc .ui-state-highlight, .livetabsmintchoc .ui-widget-content .ui-state-highlight {border: 1px solid #add978; background: #619226 url(images/ui-bg_highlight-soft_20_619226_1x100.png) 50% top repeat-x; color: #ffffff; }
.livetabsmintchoc .ui-state-highlight a, .livetabsmintchoc .ui-widget-content .ui-state-highlight a { color: #ffffff; }
.livetabsmintchoc .ui-state-error, .livetabsmintchoc .ui-widget-content .ui-state-error {border: 1px solid #5f391b; background: #5f391b url(images/ui-bg_glass_15_5f391b_1x400.png) 50% 50% repeat-x; color: #ffffff; }
.livetabsmintchoc .ui-state-error a, .livetabsmintchoc .ui-widget-content .ui-state-error a { color: #ffffff; }
.livetabsmintchoc .ui-state-error-text, .livetabsmintchoc .ui-widget-content .ui-state-error-text { color: #ffffff; }
.livetabsmintchoc .ui-state-disabled, .livetabsmintchoc .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.livetabsmintchoc .ui-priority-primary, .livetabsmintchoc .ui-widget-content .ui-priority-primary { font-weight: bold; }
.livetabsmintchoc .ui-priority-secondary, .livetabsmintchoc .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
/* states and images */
.livetabsmintchoc .ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); }
.livetabsmintchoc .ui-widget-content .ui-icon {background-image: url(images/ui-icons_222222_256x240.png); }
.livetabsmintchoc .ui-widget-header .ui-icon {background-image: url(images/ui-icons_e3ddc9_256x240.png); }
.livetabsmintchoc .ui-state-default .ui-icon { background-image: url(images/ui-icons_9bcc60_256x240.png); }
.livetabsmintchoc .ui-state-hover .ui-icon, .livetabsmintchoc .ui-state-focus .ui-icon {background-image: url(images/ui-icons_add978_256x240.png); }
.livetabsmintchoc .ui-state-active .ui-icon {background-image: url(images/ui-icons_e3ddc9_256x240.png); }
.livetabsmintchoc .ui-state-highlight .ui-icon {background-image: url(images/ui-icons_ffffff_256x240.png); }
.livetabsmintchoc .ui-state-error .ui-icon, .livetabsmintchoc .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_f1fd86_256x240.png); }
/* Corner radius */
.livetabsmintchoc .ui-corner-all, .livetabsmintchoc .ui-corner-top, .livetabsmintchoc .ui-corner-left, .livetabsmintchoc .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.livetabsmintchoc .ui-corner-all, .livetabsmintchoc .ui-corner-top, .livetabsmintchoc .ui-corner-right, .livetabsmintchoc .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.livetabsmintchoc .ui-corner-all, .livetabsmintchoc .ui-corner-bottom, .livetabsmintchoc .ui-corner-left, .livetabsmintchoc .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.livetabsmintchoc .ui-corner-all, .livetabsmintchoc .ui-corner-bottom, .livetabsmintchoc .ui-corner-right, .livetabsmintchoc .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
/* Overlays */
.livetabsmintchoc .ui-widget-overlay { background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.livetabsmintchoc .ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px;}
/* Tabs
----------------------------------*/
.livetabsmintchoc .ui-tabs { padding: .2em; zoom: 1; }
.livetabsmintchoc .ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; }
.livetabsmintchoc .ui-tabs .ui-tabs-nav li { list-style: none; position: relative; float: left; margin: 0 .2em -1px 0; padding: 0; }
.livetabsmintchoc .ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 2em; }
.livetabsmintchoc .ui-tabs .ui-tabs-nav li.ui-tabs-selected, .livetabsmintchoc .ui-tabs .ui-tabs-nav li.ui-tabs-active { padding-bottom: 1px; border-bottom-width: 0; }
.livetabsmintchoc .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .livetabsmintchoc .ui-tabs .ui-tabs-nav li.ui-tabs-active a, .livetabsmintchoc .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .livetabsmintchoc .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.livetabsmintchoc .ui-tabs .ui-tabs-nav li a, .livetabsmintchoc .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a, .livetabsmintchoc .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.livetabsmintchoc .ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.livetabsmintchoc .ui-tabs .ui-tabs-hide { display: none !important; }
.livetabsmintchoc .ui-tabs-panel p,.livetabsmintchoc .ui-tabs-panel div {color:#ffffff;}
