body
{
}
.ddl
{
    border: 1px solid #aaaaaa !important;
}
.lnkbtn1
{
    font-family: Helvetica,Arial,sans-serif;
    padding: 5px 10px;
    background: #818181;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#818181, endColorstr=#656565);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#818181, endColorstr=#656565)";
    background: -webkit-gradient(linear, left top, left bottom, from(#818181), to(#656565));
    background: -moz-linear-gradient(center top , #818181 0%, #656565 100%) repeat scroll 0 0 transparent;
    border-color: #FFFFFF;
    border-radius: 3px;
    color: #FFFFFF !important;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 1px #000000;
}
.lnkbtn1:hover
{
    background: #4E4E4E;
    color: #ffffff;
    text-decoration: none;
}
.lnkbtn2
{
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
    color: #003366;
}
.lnkbtn2:hover
{
    text-decoration: underline;
    color: #000;
}
.caption
{
    font-size: 11px;
    background-color: InactiveBorder;
    border-radius: 5px;
    -moz-border-radius: 5px;
    webkit-border-radius: 5px;
    border: 1px solid #999999;
    padding: 5px;
}
