<div class="article">

    <div class="articleHeadline vevent"><h3>[EDIT]<a class="summary" href="[ARTICLELINK]">[TITLE]</a></h3></div>

    <div class="articleEntry Normal">
        [HASIMAGE]<div class="articleImage">[IMAGETHUMB:100]</div>[/HASIMAGE]
        [HASSUMMARY][SUMMARY][/HASSUMMARY][HASNOSUMMARY][DETAILS:150][/HASNOSUMMARY]
        [ISRSSITEM]<p><a href="[LINK]" target="_blank">[Read More...]</a></p>[/ISRSSITEM]
        [ISNOTRSSITEM]
        [HASMOREDETAIL:150]
            <p><a href="[ARTICLELINK]" target="[LINKTARGET]">[Read More...]</a></p>
        [/HASMOREDETAIL:150][/ISNOTRSSITEM][TAGS]
    </div>
    
    [HASCATEGORIES] 
    <div class="articleCategories Normal">
        Posted in: [CATEGORIES]
    </div>
    [/HASCATEGORIES]
    
    
</div>
