/* Layout helpers
----------------------------------*/
.livetabssunny .ui-helper-hidden { display: none; }
.livetabssunny .ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.livetabssunny .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.livetabssunny .ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.livetabssunny .ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.livetabssunny .ui-helper-clearfix { display:block; }
/* end clearfix */
.livetabssunny .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
/* Interaction Cues
----------------------------------*/
.livetabssunny .ui-state-disabled { cursor: default !important; }
/* states and images */
.livetabssunny .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
/* Overlays */
.livetabssunny .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/* Component containers
----------------------------------*/
.livetabssunny .ui-widget { font-family: Segoe UI, Arial, sans-serif; font-size: 1.1em; }
.livetabssunny .ui-widget input, .livetabssunny .ui-widget select, .livetabssunny .ui-widget textarea, .livetabssunny .ui-widget button { font-family: Segoe UI, Arial, sans-serif; font-size: 1em; }
.livetabssunny .ui-widget-content { border: 1px solid #8e846b; background: #feeebd url(images/ui-bg_highlight-soft_100_feeebd_1x100.png) 50% top repeat-x; color: #383838; }
.livetabssunny .ui-widget-content a {  }
.livetabssunny .ui-widget-header { border: 1px solid #494437; background: #817865 url(images/ui-bg_gloss-wave_45_817865_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.livetabssunny .ui-widget-header a { color: #ffffff; }
/* Interaction states
----------------------------------*/
.livetabssunny .ui-state-default, .livetabssunny .ui-widget-content .ui-state-default { border: 1px solid #d19405; background: #fece2f url(images/ui-bg_gloss-wave_60_fece2f_500x100.png) 50% 50% repeat-x; font-weight: bold; color: #4c3000; outline: none; }
.livetabssunny .ui-state-default a, .livetabssunny .ui-state-default a:link, .livetabssunny .ui-state-default a:visited { color: #4c3000; text-decoration: none; outline: none; }
.livetabssunny .ui-state-hover, .livetabssunny .ui-widget-content .ui-state-hover, .livetabssunny .ui-state-focus, .livetabssunny .ui-widget-content .ui-state-focus { border: 1px solid #a45b13; background: #ffdd57 url(images/ui-bg_gloss-wave_70_ffdd57_500x100.png) 50% 50% repeat-x; font-weight: bold; color: #381f00; outline: none; }
.livetabssunny .ui-state-hover a, .livetabssunny .ui-state-hover a:hover { color: #381f00; text-decoration: none; outline: none; }
.livetabssunny .ui-state-active, .livetabssunny .ui-widget-content .ui-state-active { border: 1px solid #655e4e; background: #ffffff url(images/ui-bg_inset-soft_30_ffffff_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #0074c7; outline: none; }
.livetabssunny .ui-state-active a, .livetabssunny .ui-state-active a:link, .livetabssunny .ui-state-active a:visited { color: #0074c7; outline: none; text-decoration: none; }
/* Interaction Cues
----------------------------------*/
.livetabssunny .ui-state-highlight, .livetabssunny .ui-widget-content .ui-state-highlight {border: 1px solid #eeb420; background: #fff9e5 url(images/ui-bg_gloss-wave_90_fff9e5_500x100.png) 50% top repeat-x; color: #1f1f1f; }
.livetabssunny .ui-state-highlight a, .livetabssunny .ui-widget-content .ui-state-highlight a { color: #1f1f1f; }
.livetabssunny .ui-state-error, .livetabssunny .ui-widget-content .ui-state-error {border: 1px solid #ffb73d; background: #d34d17 url(images/ui-bg_diagonals-medium_20_d34d17_40x40.png) 50% 50% repeat; color: #ffffff; }
.livetabssunny .ui-state-error a, .livetabssunny .ui-widget-content .ui-state-error a { color: #ffffff; }
.livetabssunny .ui-state-error-text, .livetabssunny .ui-widget-content .ui-state-error-text { color: #ffffff; }
.livetabssunny .ui-state-disabled, .livetabssunny .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.livetabssunny .ui-priority-primary, .livetabssunny .ui-widget-content .ui-priority-primary { font-weight: bold; }
.livetabssunny .ui-priority-secondary, .livetabssunny .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
/* states and images */
.livetabssunny .ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_d19405_256x240.png); }
.livetabssunny .ui-widget-content .ui-icon {background-image: url(images/ui-icons_d19405_256x240.png); }
.livetabssunny .ui-widget-header .ui-icon {background-image: url(images/ui-icons_fadc7a_256x240.png); }
.livetabssunny .ui-state-default .ui-icon { background-image: url(images/ui-icons_3d3d3d_256x240.png); }
.livetabssunny .ui-state-hover .ui-icon, .livetabssunny .ui-state-focus .ui-icon {background-image: url(images/ui-icons_bd7b00_256x240.png); }
.livetabssunny .ui-state-active .ui-icon {background-image: url(images/ui-icons_eb990f_256x240.png); }
.livetabssunny .ui-state-highlight .ui-icon {background-image: url(images/ui-icons_ed9f26_256x240.png); }
.livetabssunny .ui-state-error .ui-icon, .livetabssunny .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_ffe180_256x240.png); }
/* Corner radius */
.livetabssunny .ui-corner-all, .livetabssunny .ui-corner-top, .livetabssunny .ui-corner-left, .livetabssunny .ui-corner-tl { -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; -khtml-border-top-left-radius: 8px; border-top-left-radius: 8px; }
.livetabssunny .ui-corner-all, .livetabssunny .ui-corner-top, .livetabssunny .ui-corner-right, .livetabssunny .ui-corner-tr { -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; -khtml-border-top-right-radius: 8px; border-top-right-radius: 8px; }
.livetabssunny .ui-corner-all, .livetabssunny .ui-corner-bottom, .livetabssunny .ui-corner-left, .livetabssunny .ui-corner-bl { -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; -khtml-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px; }
.livetabssunny .ui-corner-all, .livetabssunny .ui-corner-bottom, .livetabssunny .ui-corner-right, .livetabssunny .ui-corner-br { -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; -khtml-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px; }
/* Overlays */
.livetabssunny .ui-widget-overlay { background: #5c5c5c url(images/ui-bg_flat_50_5c5c5c_40x100.png) 50% 50% repeat-x; opacity: .80;filter:Alpha(Opacity=80); }
.livetabssunny .ui-widget-shadow { margin: -7px 0 0 -7px; padding: 7px; background: #cccccc url(images/ui-bg_flat_30_cccccc_40x100.png) 50% 50% repeat-x; opacity: .60;filter:Alpha(Opacity=60); -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; }
/* Tabs
----------------------------------*/
.livetabssunny .ui-tabs { padding: .2em; zoom: 1; }
.livetabssunny .ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; }
.livetabssunny .ui-tabs .ui-tabs-nav li { list-style: none; position: relative; float: left; margin: 0 .2em -1px 0; padding: 0; }
.livetabssunny .ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 2em; }
.livetabssunny .ui-tabs .ui-tabs-nav li.ui-tabs-selected, .livetabssunny .ui-tabs .ui-tabs-nav li.ui-tabs-active { padding-bottom: 1px; border-bottom-width: 0; }
.livetabssunny .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .livetabssunny .ui-tabs .ui-tabs-nav li.ui-tabs-active a, .livetabssunny .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .livetabssunny .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.livetabssunny .ui-tabs .ui-tabs-nav li a, .livetabssunny .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a, .livetabssunny .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.livetabssunny .ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.livetabssunny .ui-tabs .ui-tabs-hide { display: none !important; }
